<form [formGroup]="ytLinkGroup" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Youtube link</mat-label>
    <input matInput formControlName="link" />
  </mat-form-field>
  <button
    [disabled]="!ytLinkGroup.valid"
    mat-flat-button
    color="accent"
    type="submit"
  >
    Submit
  </button>
</form>

@if (readableDuration) {
<section>
  <span>Video duration: {{ readableDuration }}</span>
  <button mat-icon-button type="button" (click)="download()">
    <mat-icon>file_download</mat-icon>
  </button>
</section>
} @if (shouldShowYoutubeLink()) {
<iframe [src]="youtubeLink | safe"> </iframe>
} @if (captionSegments) {
<transcription [transcription]="captionSegments"></transcription>
}
