@import "../../colors.scss";

#yt-transcription-container {
  text-align: center;
  form {
    margin-top: 32px;

    .submit-button {
      bottom: 8px;
      border-radius: 0px 12px 12px 0px;
      padding: 8px;
    }

    .mat-form-field {
      width: 320px;
    }
  }

  button {
    background-color: $primary !important;
  }

  .info-options {
    margin-bottom: 12px;
    .video-duration {
      margin-right: 16px;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .mat-form-field {
    max-width: 220px;
  }
}
